apiVersion: litmuschaos.io/v1alpha1
kind: ChaosExperiment
metadata:
  name: pod-delete
  namespace: agnos-uat
  labels:
    app.kubernetes.io/part-of: agnos-devops
spec:
  definition:
    scope: Namespaced
    permissions:
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["create", "delete", "get", "list", "patch", "update", "deletecollection"]
    - apiGroups: [""]
      resources: ["events"]
      verbs: ["create", "get", "list", "patch", "update"]
    - apiGroups: [""]
      resources: ["pods/log"]
      verbs: ["get", "list"]
    - apiGroups: ["batch"]
      resources: ["jobs"]
      verbs: ["create", "list", "get", "delete", "deletecollection"]
    - apiGroups: ["litmuschaos.io"]
      resources: ["chaosengines", "chaosexperiments", "chaosresults"]
      verbs: ["create", "list", "get", "patch", "update", "delete"]
    image: litmuschaos/go-runner:latest
    imagePullPolicy: Always
    args:
    - -c
    - ./experiments -name pod-delete
    command:
    - /bin/bash
    env:
    - name: TOTAL_CHAOS_DURATION
      value: "60"
    - name: CHAOS_INTERVAL
      value: "15"
    - name: FORCE
      value: "false"
    labels:
      name: pod-delete
      app.kubernetes.io/part-of: litmus
---
apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
  name: api-pod-delete
  namespace: agnos-uat
  labels:
    app.kubernetes.io/part-of: agnos-devops
spec:
  engineState: active
  appinfo:
    appns: agnos-uat
    applabel: app=api
    appkind: deployment
  chaosServiceAccount: litmus-admin
  experiments:
  - name: pod-delete
    spec:
      components:
        env:
        - name: TOTAL_CHAOS_DURATION
          value: "60"
        - name: CHAOS_INTERVAL
          value: "15"
        - name: FORCE
          value: "false"
        - name: PODS_AFFECTED_PERC
          value: "50"
